body {
  margin: 0;
  font-family: Montserrat;
}
::-webkit-scrollbar {
    display: none;
}
.container {
  width: 45%;
  margin: 0 auto;
}

header {
  padding: 35px;
  background-color: #4A5165;
}

header h1 {
  top: -19px;
  position: relative;
  margin: 0;
  color: white;
  font-size: 1.5em;
  float: left;
}

p {
  text-align: left;
  color: black;
  font-size: 70px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

nav {
  float: right;
  width: 20%;
  height: 0;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  font-size: 15px;
  cursor: pointer;
  transition: padding .05s linear;
}

ul li.drop {
  top: -43px;
  position: relative;
}

ul>li {
  display: inline-block;
}

.userName {
  color: white;
  transition: all .1s ease-out;
}

.userName2 {
  color: white;
  transition: all .1s ease-out;
  position: relative;
  left: -10px;
}

.userNameImage {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 20px;
  left: -10px;
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -5px;
  left: 45%;
  position: relative;
}

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  top: -400px;
}

.dropOut {
  width: 160px;
  background: white;
  float: left;
  position: relative;
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  transition: all .1s ease-out;
}

.dropOut ul {
  float: left;
  padding: 10px 0;
}

.dropOut ul li {
  text-align: left;
  float: left;
  width: 125px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  color: #777;
  border-radius: 4px;
  transition: background .1s ease-out;
}

.dropOut ul li:hover {
  background: #f6f6f6;
}

ul li:hover .dropdownContain {
  top: 65px;
}

ul li:hover .dropOut {
  opacity: 1;
  margin-top: 8px;
}

button {
  margin: 20px;
  display: block;
  width: 50%;
}

.btn-1 {
  border: 3px solid #fff;
  color: #fff;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  transition: all 0.3s;
  background-color: #6f36ff;
  color: white;
  border: 2px solid #6f36ff;
}

.btn-1a:hover, .btn-1a:active {
  color: #6f36ff;
  background: white;
  border: 2px solid #0e83cd;
}


/*AÑADIDO*/

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-bottom: 1px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* CSS tarjeta viajes*/

.Page {
  position: relative;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Trip-container {
  width: 95%;
  padding: 16px 12px;
  margin: 10px auto;
  border: 3px solid #E6E6E6;
  /*border-width: 0 0 1px;*/
  background-color: #fff;
  border-radius: 3px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Page:hover .Trip-container {
  opacity: 0.5;
}

.Page:hover .Trip-containerC {
  opacity: 0.5;
}

.Page:hover .middle {
  opacity: 1;
}

.c {
  width: 80%;
  padding: 5px;
  font-size: 12px;
}

.u {
  width: 80%;
  padding: 20px;
  font-size: 17px;
}

.Trip {
  display: flex;
  margin-bottom: 8px;
}

.Trip-avatar {
  border-radius: 100%;
  display: block;
  flex: 0 0 98px;
  margin-right: 16px;
}

.Trip-avatar>img {
  border-radius: 100%;
  height: 96px;
  width: 96px;
}

.Trip-seats {
  font-size: 14px;
  color: #3EB9A5;
  margin-top: 4px;
}

.Trip-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.Trip-body>h1 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  color: #2F2F2F;
  margin-bottom: 8px;
}

.Trip-location {
  font-size: 16px;
  color: #5B5B5B;
  margin-bottom: 6px;
  line-height: 20px;
  /*font-weight: 700;*/
}

.Trip-location>span {
  white-space: nowrap;
}

.Trip-time {
  font-size: 16px;
  color: #5B5B5B;
  margin-bottom: 6px;
  line-height: 20px;
  font-weight: bold;
}

.Trip-details {
  color: #757575;
  margin-bottom: 16px;
  line-height: 20px;
  margin-top: 16px;
}

.Trip-cancelled {
  margin-top: 5px;
  font-size: 17px;
  color: #BD0000;
}

.Trip-containerC {
  width: 95%;
  padding: 16px 12px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 3px solid #BD0000;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 200px;
  top: 0;
  width: 75%;
  /* Full width */
  height: 100%;
  /* Full height */
  max-height: calc(100vh - 100px);
  overflow: scroll;
  /* Enable scroll if needed */
  /*background-color: rgb(0, 0, 0);*/
  /* Fallback color */
  /*background-color: rgba(0, 0, 0, 0.4);*/
  /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #4A5165;
  color: white;
}

.modal-body {
  padding: 2px 0px;
}

form {
  margin-top: 30px;
  margin-left: 150px;
}

label {
  display: block;
}

.espacio {
  margin-right: 222px;
}

.espacio2 {
  margin-right: 122px;
}

input[type=text], input[type=submit], input[type=time], input[type=date] {
  width: 30%;
  border-radius: 3px;
  margin: 16px 0;
  margin-right: 20px;
  padding: 8px 15px;
  border: 1px solid #6F36FF;
  outline: none;
  display: inline-block;
  background-color: white;
}

input[type=text]:focus, input[type=date]:focus, input[type=time]:focus {
  border: 1.5px solid #6F36FF;
}

input[type=submit] {
  border: none;
  cursor: pointer;
  margin-left: 150px;
  color: white;
  background: #6F36FF;
}

input[type=submit]:hover {
  background-color: #5d30cf;
}


/* The Close Button */

.close {
  margin-right: 0;
  color: lightgrey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.starrr{
  padding: 10px;
  margin: 15px;
}

.puntuacion{
  width: 20%;
  font-size: 13px;
  padding: 20px;
  background-color: #7450d0;
  color: white;

  border-radius:  0 4px 4px 0;
}
