body{
  margin: 0;
  background-color: #6F36FF;
  font-family: Montserrat;
  font-size: 100%;
}

.container {
  width: 18%;
  margin: 0 auto;
  padding-top: 50px;
}

header{
  background-color: white;
  padding: 20px;
}
h1{
  margin: 0;
  text-align: center;
  color: #6F36FF;
  padding-bottom: 10px;
}

input[type=text],input[type=submit],input[type=password] {
  float: left;
  width: 100%;
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid white;
  outline: none;
  display: block;
  background-color: white;
}

input[type=text]:focus,input[type=password]:focus {
  border: 1px solid #2E2545;
}

input[type=submit]{
  border: none;
  cursor: pointer;
  width: 110%;
  color: white;
  background: #2E2545;

}

input[type=submit]:hover{
  background-color: #282039;
}

a{
  color: white;
}
.link{
  font-size: 15px;
  color: white;
  margin: auto;
  margin-left: 13px;
  display: inline-block;
}

.avisoLogin{
  color: white;
  text-align:center;
  padding: 1px;
  font-size: 11px;
}
